@page "/about"

<h3>About</h3>

<h4>Informações de contacto</h4>
<h5>@AppConfig.tituloHomePage</h5>
<p>Email: @AppConfig.mail</p>
<p>Telefone: @AppConfig.telefone</p>
<p>Endereço: @AppConfig.enderecoHome</p>

@code {

}
