@page "/modoentregas"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using GestaoLoja.Entities
@using GestaoLoja.Data
@implements IAsyncDisposable
@inject IDbContextFactory<GestaoLoja.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="modoentregas/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.ModosEntrega">
    <PropertyColumn Property="modoentrega => modoentrega.Nome" />
    <PropertyColumn Property="modoentrega => modoentrega.Detalhe" />

    <TemplateColumn Context="modoentrega">
        <a href="@($"modoentregas/edit?id={modoentrega.Id}")">Edit</a> |
        <a href="@($"modoentregas/details?id={modoentrega.Id}")">Details</a> |
        <a href="@($"modoentregas/delete?id={modoentrega.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
