@page "/categoria/edit"
@using Microsoft.EntityFrameworkCore
@using GestaoLoja.Entities
@inject IDbContextFactory<GestaoLoja.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Categoria</h2>
<hr />
@if (Categoria is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Categoria" OnValidSubmit="UpdateCategoria" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Categoria.Id" value="@Categoria.Id" />
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome:</label>
                    <InputText id="nome" @bind-Value="Categoria.Nome" class="form-control" />
                    <ValidationMessage For="() => Categoria.Nome" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="ordem" class="form-label">Ordem:</label>
                    <InputNumber id="ordem" @bind-Value="Categoria.Ordem" class="form-control" />
                    <ValidationMessage For="() => Categoria.Ordem" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="urlimagem" class="form-label">UrlImagem:</label>
                    <InputText id="urlimagem" @bind-Value="Categoria.UrlImagem" class="form-control" />
                    <ValidationMessage For="() => Categoria.UrlImagem" class="text-danger" />
                </div>
                @* <div class="mb-3">
                    <label for="imagem" class="form-label">Imagem:</label>
                    <InputText id="imagem" @bind-Value="Categoria.Imagem" class="form-control" />
                    <ValidationMessage For="() => Categoria.Imagem" class="text-danger" />
                </div> *@
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/categoria">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Categoria? Categoria { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Categoria ??= await context.Categorias.FirstOrDefaultAsync(m => m.Id == Id);

        if (Categoria is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateCategoria()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Categoria!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!CategoriaExists(Categoria!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/categoria");
    }

    private bool CategoriaExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Categorias.Any(e => e.Id == id);
    }
}
